---
layout: base.njk
---

<p>
    Hello, and welcome to Jackdaw's cyber space!
</p>
<p>
    This is primarily meant to be a blog for technical write-ups, but I'm always 
    happy when people leave comments in the guestbook!
</p>
<a href="https://nekoweb.org/"><img src="https://nekoweb.org/assets/buttons/button5.gif"></a>