    <header>
        <a href="/">
            <img src="/assets/img/banner-wip.png" alt="Welcome to Jackdaw's Cyber Space!" title="Welcome to Jackdaw's Cyber Space!" />
        </a>
    </header>

    <nav>
        <table>
            <tr>
                <td><a href="/">Home</a></td>
                <td><a href="/blog/index.html">Blog</a></td>
                <td><a href="/about.html">About</a></td>
                <td><a href="/guestbook.html">Guestbook</a></td>
            </tr>
        </table>
    </nav>